h2 {
  text-align: center;
  margin-bottom: 1rem;  // opcional, para separar del contenedor
  font-variant-caps: all-small-caps;
  font-size: 33px;
  color: #262539;
}

.usuario-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  width: 100%;     // 100% del ancho de la ventana del navegador
  height: 100%;    // 100% de la altura de la ventana del navegador
}

.usuario-card {
  width: 300px;
  background-color: #5c7dba;
  display: flex;               // activa flexbox
  flex-direction: column;      // organiza hijos en columna
  justify-content: center;     // centra verticalmente
  align-items: center;         // centra horizontalmente

  text-align: center;          // centra el texto dentro de títulos y subtítulos
  padding: 1rem;
}

.usuario-card mat-card-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;                // para que se mantengan alineados y no comprimidos
}

  .btn{
    background-color: #2e78b0!important;
    color: #c5c4e3!important;
    border-radius: 0.5rem!important;
    font-weight: bold!important;
    transition: transform 0.2s ease!important;
    min-width: 100px;

     &:disabled {
    background-color: #02354b;
    cursor: not-allowed;
    }

  &:hover {
  background-color: #6e93c2!important;
  transform: scale(1.05)!important;
}
  }
  
  #color{
    background-color: #856abb!important;
  }

  #nomverd{
    font-size: 23px;
    font-weight: 700;
    color: #362652;
  }
  #nom{
    font-size: 20px;
    font-weight: 700;
    margin-top: 8px;
    color: #282652;
  }
