<div class="photo-form-container">
  <h2>Datos de Fotografía</h2>

  @for (foto of fotografias; track $index) {
    <div class="photo-entry">
      <mat-card class="photo-card">
        <div class="photo-row">
          <img mat-card-image [src]="foto.link" [alt]="foto.titulo" class="image-placeholder"/>
          <div class="photo-details">
            <mat-form-field>
              <mat-label>ESTADO</mat-label>
              <mat-select [(ngModel)]="foto.estado">
                @for (estado of estados; track $index) {
                  <mat-option class="option" [value]="estado">{{ estado }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <div class="descripcion-label">Descripción</div>
            <div class="descripcion-text">{{ foto.descripcion }}</div>
        </div>
      </div>
    </mat-card>
  </div>
  }
</div>
