.photo-form-container {
  padding: 24px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-variant-caps: all-small-caps;
    letter-spacing: 0.2em;
    line-height: 1.2;
    text-align: center;
    font-size: 40px;
    color: #262539;
    //font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}

.photo-entry {
  margin-bottom: 20px;
}

.photo-card {
  padding: 16px;
  background-color: #94b0d4;
  color: white;
}

.photo-row {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.image-placeholder {
  width: 600px;
  height: 400px;
  background-color: #aaa;
  border-radius: 4px;

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

.photo-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.photo-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.option {
  background-color: #c5c4e3!important;
  color: #012f42 !important;

  &.mat-active {
    background-color: #444466 !important;
  }

  &:hover {
    background-color: #8f98cb !important;
  }
}

.descripcion-label {
  font-size: 20px;
  font-weight: 700;
  margin-top: 8px;
  color: #282652;
}

.descripcion-text {
  border-radius: 4px;
  padding: 12px;
  min-height: 100px;
  color: #143252;
  white-space: pre-wrap;
}
