<mat-card class="shipping-card foto">
  <div class="overlay"></div>
  <mat-card-content id="textImagen">
  <h1>Un espacio diseñado para los creadores de eventos, donde tus ideas toman forma y tus celebraciones cobran vida</h1></mat-card-content>
</mat-card>
        <mat-card class="shipping-card back">
        <mat-card-header>
          <h2>{{datosConcurso.descripcion}}</h2>
        </mat-card-header>
        <mat-card-content>
          <p><b>Fecha Inicio de Envios: </b>{{fEnvioIni}}</p>
          <p><b>Fecha Fin de Envios: </b>{{fEnvioFin}}</p>
          <p><b>Fecha Inicio de Votaciòn: </b>{{fVotoIni}}</p>
          <p><b>Fecha Fin de Votaciòn: </b>{{fVotoFin}}</p>
          <p><b>Fecha Anuncio Ganadores: </b>{{fGanadores}}</p>
          <div class="grip">
            <button style=" background-color: #023952;" mat-flat-button type="button" routerLink="/admin/editActividad/{{datosConcurso.id}}">Editar</button>
          </div>
        </mat-card-content>
      </mat-card>
