<h1
style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       text-align: center;">GALERIA</h1>
<mat-card-content *ngIf="yaVoto">
  <p>Usted ya emitió su voto</p>
</mat-card-content>
<div class="galeria-container">    
  @for (foto of fotografias; track $index) {
  <mat-card class="galeria-card">
    <img mat-card-image [src]="foto.link" [alt]="foto.titulo" />
    <mat-card-header>
      <mat-card-title>{{ foto.titulo }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ foto.descripcion }}</p>
    </mat-card-content>
    <mat-card-content>
      <p>{{ foto.cantidadVotos }}</p>
    </mat-card-content>
    <mat-card-actions class="boton-votar-wrapper" *ngIf="!yaVoto">
      <button mat-raised-button class="boton-votar" (click)="votar(foto)">
        Votar
      </button>
    </mat-card-actions>
  </mat-card>
  }
</div>
