<div id="container">
  <h1>GALERIA</h1>
  <div class="galeria-container">
    @for (foto of fotografias; track $index) {
    <mat-card class="galeria-card">
      <img mat-card-image [src]="foto.link" [alt]="foto.titulo" />
      <mat-card-header>
        <mat-card-title><h3>{{ foto.titulo }}</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ foto.descripcion }}</p>
      </mat-card-content>
      <mat-card-actions class="boton-votar-wrapper">
        <button mat-raised-button class="boton-votar" (click)="votar(foto)">
          Votar
        </button>
      </mat-card-actions>
    </mat-card>
    }
  </div>
</div>
