<form [formGroup]="editAct" (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card back">
      <mat-card-header class="outer">
        <mat-card-title class="inner"><h2 id="h2">Crear nueva actividad</h2></mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Titulo" formControlName="titulo">
              @if (editAct.controls['titulo'].hasError('required')) {
                <mat-error class="marginbot">El titulo es <strong>requerido</strong></mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Ubicación" formControlName="ubicacion">
              @if (editAct.controls['ubicacion'].hasError('required')) {
                <mat-error class="marginbot">La ubicación es <strong>requerido</strong></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Descripcion" formControlName="descripcion"/>
              @if (editAct.controls['descripcion'].hasError('required')) {
                <mat-error class="marginbot">La descripción es <strong>requerido</strong></mat-error>
              }
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" floatLabel="always">
              
                <mat-label>Amount</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0" formControlName="precio"/>
                <span matTextPrefix>€&nbsp;</span>
               <!--  <span matTextSuffix>.00</span> -->
                @if (editAct.controls['precio'].hasError('required')) {
                  <mat-error class="marginbot">El precio es <strong>requerido</strong></mat-error>
                }
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
             
                <mat-label>Fecha de la actividad</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="fecha">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                @if (editAct.controls['fecha'].hasError('required')) {
                  <mat-error class="marginbot">La fecha es <strong>requerido</strong></mat-error>
                }
              
            </mat-form-field>
          </div>
        </div>
  
      </mat-card-content>
  
      <mat-card-actions class="outer">
         <div class="inner">
            <div class="grip">
                <button mat-flat-button type="submit" [disabled]="!editAct.valid">actualizar</button>
                <button style=" background-color: #023952;" mat-flat-button type="button" routerLink="/ofertante/listaAct">volver</button>
              </div>
         </div>
      </mat-card-actions>
    </mat-card>
  </form>